
<form action="/new" method="post">
  <input name="id"  type="hidden" value="<%= @customer.id %>">


<table class="table table-responsive table-hover">
 <thead>
   <th>Parameter</th>
   <th>Customer</th> 
   <br>
  </thead>
  <tbody>   
   
   <tr>
     <td>Vardas</td>
     <td><input name="name" type="text" value="<%= @customer.name %>"></td>

   </tr>
   <tr>
     <td>Pavarde</td>
     <td><input name="surname" type="text" value="<%= @customer.surname %>"></td>
   </tr>
   <tr>
     <td>Asmens kodas</td>
     <td><input name="code" type="text" value="<%= @customer.code %>"></td>

   </tr>
   <tr>
     <td>Amzius</td>
     <td><input name="age" type="text" value="<%= @customer.age %>"></td>   
    </tr> 
 	</tbody>
</table>
<div class="text-center">

  <button type="submit" class="btn btn-primary">Save</button>

</div>

</form>